sonets/tuner
twomodels/data
.idea
rhymes/data
rhymes/debug
twomodels/debug
twomodels/tuner
twomodels/model
twomodels/logs
phonemes/logs
phonemes/learn_phonemes/data
phonemes/learn_phonemes/model
phonemes/tuner
